@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #101010;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #f9f9f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes expand {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }

  .animate-expand {
    animation: expand 0.2s ease-out;
  }
}
